<% layout('/layouts/boilerplate') %>


<div class="container-fluid">

    <form action="/payrolls" method="POST" novalidate class="validated-form">
      <div>
        <label for="category">Category:</label>
        <input type="text" id="category" name="service[category]" value="<%= service.category %>" required>
      </div>
      <div>
        <label for="serviceName">Service Name:</label>
        <input type="text" id="serviceName" name="service[serviceName]" value="<%= service.serviceName %>" required>
      </div>
      <div>
        <label for="price">Price:</label>
        <input type="number" id="price" name="service[price]" value="<%= service.price %>" required>
      </div>
      <button type="submit">Edit Service Item</button>
    </form>
</div>